{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/reboot.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/grid.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
        {% block stylesheet %}{% endblock %}
        <!-- extra -->
        {% block extra %}{% endblock %}
    </head>
    <body>
        <!-- content -->
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        <!-- javascript -->
        <script src="{% static 'js/navigation.js' %}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
