<footer class="mt-auto bg-blue text-white">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex h-100 w-100 justify-content-center">
          <div class="justify-content-center mt-3 mb-3">
            <!-- services -->
            <p><strong>Meny</strong></p>
            <p class="m-0">Tjenester</p>
            <p class="m-0">Produkter</p>
            <p class="m-0">Referanser</p>
            <p class="m-0">Personvern</p>
            <p class="m-0">Sidekart</p>
            <p class="m-0 mb-3">Hjelp</p>
            <p>Hostname: {{ hostname }}</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <p>Hostname: {{ hostname }}</p>
      </div>
      <div class="col-3">
        <p>Hostname: {{ hostname }}</p>
      </div>
      <div class="col-3">
        <p>Hostname: {{ hostname }}</p>
      </div>
    </div>
  </div>
</footer>
