{% load i18n %}
<nav class="sidebar">
  <ul class="sidebar-navigation">
    <li><a href="{% url 'frontpage:index' %}"><i class="fas fa-home fa-fw"></i> {% trans "Home" %}</a></li>
    <li><a href="{% url 'journal:index' %}"><i class="fas fa-book fa-fw"></i> {% trans "Journal" %}</a></li>
    <li><a href="{% url 'articles:index' %}"><i class="fas fa-rss fa-fw"></i> {% trans "Articles" %}</a></li>
    <li><a href="{% url 'projects:index' %}"><i class="fas fa-project-diagram fa-fw"></i> {% trans "Projects" %}</a></li>
    <li><a href="{% url 'software:index' %}"><i class="fas fa-hdd fa-fw"></i> {% trans "Software" %}</a></li>
    <li><a href="{% url 'quantified_self:index' %}"><i class="fas fa-user-graduate fa-fw"></i> Quantified self</a></li>
    <li>
      <a href="#" class="sidebar-dropdown-btn" role="button" data-toggle="dropdown"><i class="fas fa-globe-europe fa-fw"></i> {% trans "Languages" %}</a>
      <div class="sidebar-dropdown-container">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <form class="mb-1" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <input name="language" type="hidden" value="{{ language.code }}">
          <input type="submit" value="{{ language.name_local }}" class="sidebar-dropdown-item text-left"/>
        </form>
        {% endfor %}
      </div>
    </li>
  </ul>
</nav>
