[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
pytest = "*"
coverage = "*"
coveralls = "*"
pytest-django = "*"
pytest-cov = "*"
pylint = "*"
pylint-django = "*"
pylint-runner = "*"
django-otp = "*"
qrcode = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.7"
