{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock%}

{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
<div class="row">
  {% include "sidebar.html" %}
  <div class="content-column">
    <header class="sub-header">
      <h1 class="margin-0">{% trans "Articles" %}</h1>
    </header>
    <main class="content row">
      <div class="content-field">
        <h1>Content</h1>
        <p>Hostname: {{ hostname }}</p>
      </div>
      <div class="content-sidebar">
        <h1>Top articles this month</h1>
      </div>
    </main>
  </div>
</div>
{% endblock%}

{% block footer %}{% include "footer.html" %}{% endblock %}
