{% extends "base.html" %}
{% load i18n %}

{% block title %}Gjert{% endblock%}

{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
<div class="row">
  {% include "sidebar.html" %}
  <div class="content-column">
    <main class="content row">
      <div class="content-field padding-2">
        <h1>Content</h1>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
        <p>Hostname: {{ hostname }}</p>
      </div>
      <div class="content-sidebar padding-2">
        <h1>Journal:</h1>
      </div>
    </main>
  </div>
</div>
{% endblock%}

{% block footer %}{% include "footer.html" %}{% endblock %}
