{% extends "base.html" %}
{% load i18n %}

{% block title %}Gjert{% endblock%}

{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
<div class="row">
  {% include "sidebar.html" %}
  <div class="content-column">
    <main class="content row">
      <div class="content-field padding-2">
        <h1>Latest article</h1>
        <hr>
        <p>Summary of last article will be displayed here.</p>
        <h1>Latest project update</h1>
        <hr>
        <p>Summary of last project will be displayed here.</p>
        <h1>Latest software update</h1>
        <hr>
        <p>Summary of last uploaded software will be displayed here.</p>
      </div>
      <div class="content-sidebar padding-2">
        <h1>Journal:</h1>
        <hr>
        <p>
          <strong>Post #11:</strong><br>
          New journal post with some content. Yay!
          New journal post with some content. Yay!
          New journal post with some content. Yay!
        </p>
        <p>
          <strong>Post #10:</strong><br>
          New journal post with some content. Yay!
          New journal post with some content. Yay!
          New journal post with some content. Yay!
          New journal post with some content. Yay!
        </p>
        <p>
          <strong>Post #9:</strong><br>
          New journal post with some content.
          New journal post with some content.
          New journal post with some content.
        </p>
        <p>
          <strong>Post #8:</strong><br>
          New journal post with some content.
          New journal post with some content.
        </p>
        <p>
          <strong>Post #7:</strong><br>
          New journal post with some content.
          New journal post with some content.
          New journal post with some content.
          New journal post with some content.
        </p>
        <p>
          <strong>Post #6:</strong><br>
          New journal post with some content. Yay!
          New journal post with some content. Yay!
          New journal post with some content.
        </p>
      </div>
    </main>
  </div>
</div>
{% endblock%}

{% block footer %}{% include "footer.html" %}{% endblock %}
