/* ----------- extra small ----------- */
.col-1 {width: 8.3333%;}
.col-2 {width: 16.6666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3333%;}
.col-5 {width: 41.6666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3333%;}
.col-8 {width: 66.6666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.3333%;}
.col-11 {width: 91.6666%;}
.col-12 {width: 100%;}

/* ----------- small ----------- */
@media screen and (min-width: 540px){
}

/* ----------- medium ----------- */
@media screen and (min-width: 720px){
}

/* ----------- large ----------- */
@media screen and (min-width: 960px){
}

/* ----------- extra large ----------- */
@media screen and (min-width: 1140px){
}



.sidebar-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar-navigation li a{
  padding: 10px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #242424;
  border-bottom: 2px solid #1b1b1b;
}
.sidebar-navigation li a:hover {
  background-color: #1b1b1b;
  border-bottom: 2px solid #f77f00;
}
.border-bottom-orange {
  background-color: #242424;
  border-bottom: 2px solid #0b0b0b;
  color: white;
}
