.sidebar-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar-toggle {
  padding: 5px;
  color: #000;
  outline: none;
  text-decoration: none;
}
.sidebar-toggle:hover {
  color: #000;
  outline: none;
  text-decoration: none;
}
.sidebar-toggle.active {
  color: #aeaeae;
}
.sidebar-navigation li>a {
  display: block;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}
.sidebar-dropdown-btn {
  outline: none;
}
.sidebar-dropdown-btn::after {
  float: right;
  width: 0;
  height: 0;
  border-width: 6px 0px 6px 6px;
  border-style: solid;
  margin-top: 6px;
  line-height: 1.5;
  content: ''
}
.sidebar-dropdown-btn.active::after {
  border-width: 6px 6px 0px 6px;
  margin-top: 9px;
}
.sidebar-dropdown-container {
  display: none;
}
.sidebar-dropdown-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 10px 10px 30px;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}
.sidebar-dropdown-item:hover {
  text-decoration: none;
}
